body {
    margin: 0px;
}

ol,
ul{
    list-style: none;
    margin: 0cm;
    padding: 0cm;
}

.logo{
    justify-content: flex-start;
    margin-left: 10px;
}

.header{
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    text-decoration: none;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.hero{
    height: 250px;
    background-image: url('../images/hero.jpg') ;
    background-color: rgb(31, 52, 45);
    background-size: 400px 400px;
    background-repeat:no-repeat ;
    background-position-x: right ;
    margin-bottom: 0px;
    margin-right: 0px;
    border-top: 0cm;
    padding-top: 100px;
    padding-left: 70px;
    color: wheat;
}