body {
    margin: 0px;
}

ol,
ul{
    list-style: none;
    margin: 0cm;
    padding: 0cm;
}

.logo{
    justify-content: flex-start;
    margin-left: 10px;
}

.header{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}

.header a{
    color: white;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.hero{
    height: 250px;
    background-color:  #941305;
    background-position-x: right ;
    margin-bottom: 0px;
    margin-right: 0px;
    border-top: 0cm;

    color: #150707;
    display: flex;
   align-items: center;
   flex-shrink: 0;
   justify-content: space-between;
}

.heroImage{
    object-fit: cover;
}

.portfolio h3{
    text-transform: uppercase;
    color: #941305;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0px;
}

.portfolio h4{
    padding-right: 700px;
    margin: 10px 0px;
    text-align: left;
}

.contacts{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.ws{
    background-image: url('../images/ws.svg');
}

.form-email input{
    border-color: gray;
    padding: 5px 20px 5px 25px;
    background-image: url('../images/envelope.png');
    background-size: 15px ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-style: solid;
    border-radius: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent
    color white;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}
.footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
}
            
.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}
            
.footer h6{
    margin-block-start: 0em;
    margin-block-end: 0em;
}